ng <div class="container mt-3">
  <div class="row">
    <div class="col">
      <h3 class="text-center">Listado de propiedades</h3>
      <hr />
    </div>
  </div>

  <div class="row mt-2">
    <div class="col">
      <div class="row">
        <!-- Houses -->
        <div
          *ngFor="let house of houses"
          class="col-lg-4 col-md-6 col-sm-12 mb-2"
        >
          <div class="card-group">
            <div class="card w-75 border-primary">
              <!-- <img src="..." class="card-img-top" alt="..." /> -->
              <map-mini-map [lngLat]="house.lngLat" class="card-img-top" />
              <div class="card-body">
                <h5 class="card-title text-sm-center">{{ house.title }}</h5>
                <p class="card-text">
                  {{ house.description }}
                </p>
                <p class="card-text">
                  {{ house.lngLat }}
                </p>
                <!-- <a [href]="{{house.lngLat}}" class="btn btn-primary">Go somewhere</a> -->
                <!-- <a [href]="house.lngLat" class="btn btn-primary" target="_blank">Go somewhere</a> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
