#map {
  width: 100vw;
  height: 100vh;
}

button {
  position: fixed;
  bottom: 30px;
  right: 20px;
  background-color: #cff4fc;
  color: #055160;
  border: 1px solid #85c9d8;
  border-radius: 5px;
}
button:hover {
  background-color: #055160;
  color: #cff4fc;
  border: 1px solid #055160;
}
.list-group {
  position: fixed;
  top: 20px;
  right: 20px;
  cursor: pointer;
  li {
    color: #cff4fc;
  }
}
